@tailwind base;
@tailwind components;
@tailwind utilities;

/* set dark mode on body */
body {
    @apply antialiased max-w-5xl mx-auto text-gray-900 bg-white dark:bg-slate-900 dark:text-white transition-colors;
    background-color: #0c1222 !important;
}
.react-resizable {
    position: relative;
}
.react-resizable-handle {
    position: absolute;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    padding: 0 3px 3px 0;
}
.react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
    background-color: red;
}
